/* CSS By PJ Graham */

/* Import font link */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root colors, fonts and styles */

:root {
    /* colors */
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
    /* box shadow */
    --box-shadow: #96969671;
    /* fonts */ 
    --playfair: 'Playfair Display', serif;
}

/* Global Styles (mobile first/small) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mobile {
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--soft-white);
    font-family: var(--playfair);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "head"
        "about"
        "offerings"
        "gallery"
        "foot";
}

/* Header: h1 & Navbar */
header {
    grid-area: head;
    background-color: var(--midnight-blue);
    color: var(--soft-white);
}

header > img {
    width: 200px;
    margin: 0 60px 0 150px;
    padding: 20px;
}

header > h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

header > p {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    font-size: 15px;
    font-style: italic;
    text-align: center;
    padding: 20px;
}

header > nav {
    background-color: var(--champagne-gold);
    color: var(--dark-charcoal);
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--dark-charcoal);
}

nav a:hover {
    background-color: var(--soft-white);
    font-weight: lighter;
    transition-duration: 1s;
    padding: 10px;
    border-radius: 15px;
}

/* Section 1: Intro (h2, p) */
#about > h2 {
    grid-area: about;
    font-size: 25px;
    padding-top: 50px;
    color: var(--midnight-blue);
}

h2 {
    font-size: 25px;
    padding: 15px 0 10px 20px;
    color: var(--midnight-blue);
}

p {
    font-size: 14px;
    color: var(--midnight-blue);
    font-weight: lighter;
    line-height: 1.25rem;
    padding: 0 20px 20px 20px;
}

hr {
    margin: 10px;
    border: 1px solid var(--champagne-gold);
}

/* Section 2: Grid layout for three boxes with text aligned left (h2 above grid: h3, p) */
#offerings {
    grid-area: offerings;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    color: var(--soft-white);
    line-height: 20px;
    padding: 10px;
}

#offerings > h2 {
    font-size: 25px;
    padding: 10px 0 10px 10px;
    color: var(--midnight-blue);
}

#grid-item, #grid-item-3 {
    background-color: var(--olive-green);
    padding: 10px;
    border-radius: 10px;
}

#offerings h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--soft-white);
    padding: 5px;
}

#offerings p {
    color: var(--soft-white);
    padding: 5px;
    font-weight: lighter;
}

ul {
    line-height: 20px;
}

/* Section 3: Card section with responsive img and caption test */
#gallery {
    grid-area: gallery;
}

#gallery-cards {
    max-width: 400px;
    margin: 0.5em auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

.card {
    box-shadow: 3px 3px var(--box-shadow);
    background-color: var(--soft-white);
    border-radius: 3px;

    display: grid;
    grid-template-rows: 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

figcaption {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    padding: 10px;
    margin-bottom: 5px;
}

button {
    width: 400px;
    height: 40px;
    background-color: var(--olive-green);
    color: var(--linen);
    font-family: var(--playfair);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

/* Footer */

footer {
    grid-area: foot;
    background-color: var(--midnight-blue);
    color: var(--linen);
}

address {
    margin-top: 70px;
}

footer p {
    color: var(--soft-white);
}

p > a {
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: bold;
}

#contact, #socials {
    text-align: center;
    margin: 1em auto;
    font-size: 12px;
    color: var(--soft-white);
    line-height: 0.5em;

    display: grid;
    grid-template-columns: 1fr;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* Media Queries */
/* Media query - Medium 600px */
/* Media query - Large 900px */
/* Media query - XL 1200px */

